<%- include("../partials/header") %>
<%- include("../partials/navbar") %>


<main class="container col-lg-12 col-md-12 col-sm-8">
    <section>
      <h3 class="Display-3 mb-4 text-center card mt-4 p-2 "> Showing All Blogs</h3>
    </section>
    <div class="row  ">
      <% for (let blog of blogs){ %>
  
      <div class=" col-lg-12 col-md-12 col-sm-8">
        <div class=" card mx-auto mb-3 " style="width: 42rem;">
          <img src="<%= blog.img %> " class="card-img-top p-2" alt="..." />
          <div class="card-body">
            <h5 class="card-title text-center"><%= blog.name %></h5>
            <h6 class="card-title">Author: <%= blog.author %></h6>

            <p class="card-text"><%= blog.desc.substring(0, 150)+"........"%></p>
            <a href="/blogs/<%= blog._id %>" class="btn d-block btn-outline-primary">More Info</a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </main>


<%- include("../partials/footer") %>

